html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

button {
  background-color: rgb(223, 116, 217);
  color: white;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  border: none;
  outline: rgb(223, 116, 217);
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

input:hover {
  border: none;
}
.note-entry button {
  width: 16rem;
}

.notes-app {
  display: flex;
  margin-top: 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
  width: 82%;
}

.linke-seite {
  height: 100vh;
  width: 18%;
  box-sizing: border-box;
  border-right: 1px solid rgb(200, 200, 200);
  margin-top: 0.5rem;
  overflow-y: scroll;
  padding-left: 0.5rem;
}

.create-new {
  height: 4rem;
  width: 17rem;
  font-size: 1.1rem;
}

.create-new svg {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  margin-right: 0.4rem;
}

.save-note,
.delete-note {
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}

.notes-list {
  margin-top: 2rem;
}

.note-entry {

  padding: 0.5rem;
  margin-top: 1rem;
  gap: 1rem;
   height: 7rem;
  width: 16rem;
  border-radius: 0.8rem;
  border-color: rgb(225, 224, 226);
  border-style: groove;
  display: flex;
  flex-direction: column;
}

.title-and-save {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

#title-input {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  margin-right: 1rem;
}

#title-input:focus {
  border: none;
  outline: none;
}

#content-input {
  flex: 1;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
}

#content-input:focus {
  border: none;
  outline: none;
}


.note-entry:hover {
  cursor: pointer;
  background-color: rgb(241, 239, 239);
  border: none;
  transform: scale(1.05);
}

.note-title {
  font-size: 1.3rem;
  font-weight: bold;
  align-self: flex-start;
}

.note-content-teaser {
  font-size: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.note-data {
  font-size: 0.8rem;
  align-self: flex-end;
  font-style: italic;
}
